body{
    background-color: #4a654a;
}

*{
    margin: 0;
    padding: 0;
}
.month{
    width: 210px;
    height: 220px;
    background-color: #d1eacd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 1s;
}
.month p{
    margin: 15px 10px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.month h2{
    margin: 15px 10px;
    font-size: 20px;
}
.month:hover {
    transform: scale(1.1);
    transition: 1s;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

